:root {
  --font-size: 4rem;
  --box-width: 3.5;
  --box-height: 2;
}

.container {
  display: flex;
  justify-content: center;
  align-items: baseline;
  height: 50vh;
}
.box {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.box1,
.box5 {
  width: 4rem;
  height: 3rem;
}
.box2,
.box4 {
  width: 6rem;
  height: 4rem;
  font-size: 1.5rem;
}

.box1 {
  background-color: #1cb631;
}
.box2 {
  background-color: #127adb;
}
.box3 {
  background-color: #3e3674;
  width: 9rem;
  height: 6rem;
  font-size: 2.5rem;
}
.box4 {
  background-color: #cc0fdd;
}
.box5 {
  background-color: #e68341;
}
